<!doctype html>
<html>
<style>

.right{
    float:right;
}
.left{
    float:left;
}
.instruct{
  font-size: 14pt;
}

input {
    margin: 20px 20px;
    width: 120px;
    height: 40px;
    font-size: 13pt;
}
</style>


<div class="instruct">
<br>
<div style= "background-color:#c9e1fc;">
<br>&nbsp;</br>
<div style = "margin-left: 2.5em; margin-right: 2.5em; padding: 5px 2px; background-color:#e0eeff;" >
<h2><b><center>Precision in Psychiatry Study</center></b></h2>
</div>
<br>
<div style = "margin-left: 1em; margin-right: 1em; padding: 5px 2px; background-color:#e0eeff;" >
<br>
<div style = "margin-left: 0.5em; margin-right: 0.5em; padding: 5px 2px; background-color:#e0eeff;" >
<p><font size =3>We thank you for taking the time to read about our study. If there is anything about the research project that you would like to ask, please do not hesitate to contact us:<font></p>
<br>&nbsp;</br>

  <div>
  <p><span class="left">
  <font size =3>Dr Siobhan Harty (Researcher)<br>
  Trinity College Institute of Neuroscience,<br>
  Trinity College Dublin, Dublin 2, Ireland<br>
  Email: hartys1@tcd.ie<br>
  Tel: +353 1 896 8528<font><br>
  </span><span class="right">
  <font size =3>Dr Claire Gillan (Principal Investigator)<br>
  Trinity College Institute of Neuroscience,<br>
  Trinity College Dublin, Dublin 2, Ireland<br>
  Email: gillancl@tcd.ie <br>
  Tel: +353 1 896 8528<font><br>
  </span></p>
  </div>

  <br>&nbsp;</br>
  <br>&nbsp;</br>
  <br>&nbsp;</br>
</div>
</div>
<br>&nbsp;</br>
</div>
<br>&nbsp;</br>
</div>
