<!doctype html>

<html>
    <head>
	<title>Contact details</title>


</head>


<div class="instruct" id="main">
<br>
<div style= "background-color:#c9e1fc;">
<div style = "margin-left: 1em; margin-right: 1em; padding: 5px 2px;" >
<br>

<div style = "margin-left: 2.5em; margin-right: 2.5em; padding: 5px 2px; background-color:#e0eeff;" >
<h2><b><center>Precision in Psychiatry Study</center></b></h2>
</div>
<br>

<p>Please provide your name and contact details below so we can email you a link to participate in the study.</p>

<form id="postquiz" action="done" method="post">

<table>
  <tr class="question">
      <td class="questiontext">
        First Name:
      </td>
      <td class="answer">
        <textarea rows="1" cols="20" name="Name" required id="Name1"></textarea>
      </td>
  </tr>

  <tr class="question">
      <td class="questiontext">
        Surname:
      </td>
      <td class="answer">
        <textarea rows="1" cols="20" name="Name" required id="Name2"></textarea>
      </td>
  </tr>


  <tr class="question">
      <td class="questiontext">
        Email:
      </td>
      <td class="answer">
        <textarea rows="1" cols="20" name="Email" required id="Email"></textarea>
      </td>
  </tr>


</center>
</table>

<br>

<br></br>
Click 'Submit' to submit your details, and you can expect to get an email from us very soon.
<input type="submit" class="continue" id="continue" value="Submit"</input>
</form>
<br>&nbsp;</br>
</div>
<br>&nbsp;</br>
</div>
</div>
