<!doctype html>

<html>
    <head>
	<title>Consent Form</title>

  <!-- Global site tag (gtag.js) - Google AdWords: 799969281 -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=AW-799969281"></script> <script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'AW-799969281'); </script>
<!-- Event snippet for Information conversion page -->
<script> gtag('event', 'conversion', {'send_to': 'AW-799969281/1PQ_CM3ivoQBEIGguv0C'}); </script>




  <script>
      function onexit() {
    self.close()
      }
  </script>

  <style>
  input {
      margin: 20px 20px;
      width: 120px;
      height: 40px;
      font-size: 13pt;
  }

  .SheetHead {
    border: 4px solid #08083f;
    border-radius: 7px;
  }
  </style>

    </head>


      <div class="instruct" id="main">
      <br>
      <div style= "background-color:#c9e1fc;">
      <div style = "margin-left: 1em; margin-right: 1em; padding: 5px 2px;" >
      <br>

    <div class = "SheetHead" style = "margin-left: 5em; margin-right: 5em; padding: 5px 2px; background-color:#e0eeff;" >
    <h2><b><center>Precision in Psychiatry Study</b><br>Consent form</center></h2>
    </div>
    <br>


	<p>In agreeing to take part in this study, you are confirming that you have read the information sheet and have had time to consider whether to take part in this study. Your participation is voluntary and you are free to withdraw from the study at any time without penalty.</p>
  <br>
  <p><b>I confirm that I have read the information sheet and understand that:</b></p>
<div style = "background-color:#e0eeff;" >
<div style = "margin-left: 1.5em; margin-right: 1.5em; padding: 5px 2px;" >

  <p><b>1.</b>	I am providing consent for researchers to collect, analyse and store (a) a photograph of my prescription for an antidepressant medication, (b) my responses to sensitive questions relating to mental and medical health, (c) other personal or demographic information, and if I am selected to participate in the study, and (d) performance at computerised cognitive tests.</p>

  <p><b>2.</b>	I give my consent to be contacted via email on a weekly-basis for 8 weeks, or until such time that I decide to no longer participate in the study. Additional reminders emails may be sent if responses are not received in 24 hours.</p>

  <p><b>3.</b>	This study is observational. I am not being asked to take a medication or to stop taking a medication for the purpose of participation in this study. I am free to make changes to my treatment at any time and this does not affect my continued participation in the study.</p>

  <p><b>4.</b>	I understand that the researchers conducting this study are not responsible for monitoring my treatment or changes in my mental health status, e.g. worsening of symptoms. The prescribing clinician should be contacted with all questions pertaining to my continued care, including any adverse effects associated with taking antidepressant medication and decisions regarding continuation or cessation of treatment.</p>

  <p><b>5.</b>	I am free to withdraw from the study at any time, and all relevant data will be removed and deleted. I am also free to withdraw my data at the conclusion of my participation if I so wish, up until the point that my data has been analysed and a report based on the data has been submitted.</p>

  <p><b>6.</b>	My answers to sensitive questions will be kept confidential and be stored anonymously. However, I understand that there are legal limits that apply to confidentiality in the Republic of Ireland:<br>
<div style = "margin-left: 2em; margin-right: 2em; padding: 2px 0px;" >
<p><b>i.</b>	If I provide unsolicited information to the research team pertaining to risk of harm to myself or another person, this additional information is not protected by confidentiality and may be disclosed to the relevant authorities.<br></p>

<p><b>ii.</b>	Any information that I provide (solicited or unsolicited) may be disclosed as part of a legal process or police investigation in the Republic of Ireland, without my permission being sought.<br></p>
</div>

<p><b>7.</b>  Under the Freedom of Information Act 2014, I have access to any information stored about me in relation to the current study for up to 10 years (in accordance with TCD's data policy) after I provided it.</p>

<p><b>8.</b>  My anonymised data will be grouped with other participants and these group results will be presented in scientific journals and conferences.</p>

<p><b>9.</b>  I give my consent to allow my anonymised data (i.e. with my name, date of birth and contact information <u>removed</u>) to be made publicly available on public data repositories (e.g. Open Science Framework) so that other researchers can test novel hypotheses and conduct exploratory analyses.</p>

<p><b>10.</b>	I give my consent for my email address to be stored for 10 years and for the researchers to contact me for follow-up studies relating to this project. I understand that I can revoke this permission at any time and have my email address removed from the list.</p>
</div>
</div>
<br>
<div><b>Do you understand and consent to the terms of the study explained above?</b></div>


 <p>If you agree to give your informed consent, please click the ‘I give my consent’ button below.<br>
    If you have any questions about the study, please click the ‘I do not give my consent’ button below.</p>

 <p> If you would like to print or download this page, click here<input type='button' onClick='window.print()' class='printbutton' value='Print'/></p>

 <input type="button" class="continue" id="continue" value="I give my consent"></input>
 <input type="button" class="continue" id="noconsent" value="I do not give my consent"></input>

 <br>&nbsp;</br>

  </div>
  <br>&nbsp;</br>

</div>
<br>
</div>

</html>
