
<head>

  <!-- Global site tag (gtag.js) - Google AdWords: 799969281 -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=AW-799969281"></script> <script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'AW-799969281'); </script>
<!-- Event snippet for Bubble7 conversion page -->
<script> gtag('event', 'conversion', {'send_to': 'AW-799969281/wYpECLDmvoQBEIGguv0C'}); </script>


<style>
div.a {
  font-size: 23px;
}
.SheetHead {
  border: 4px solid #08083f;
  border-radius: 7px;
}

th {
  background-color:#08083f;
  color:#e0eeff;
}

</style>

</head>
<div class="instruct" id="main">
    <br>&nbsp;</br>
  <div class = "SheetHead" style = "margin-left: 5em; margin-right: 5em; padding: 5px 2px; background-color:#e0eeff;" >
  <div style = "margin-left: 2em; margin-right: 2em; padding: 5px 2px;" >
  <h1><center>Precision in Psychiatry Study<center></h1>
  </div>
  </div>
  <br>&nbsp;</br>
  <p> People's problems sometimes affect their ability to do certain day-to-day tasks in their lives. </p>
  <p> To rate your problems, look at each statement and determine on the scale provided how much your problem impairs your ability to carry out the activity.</p>

<div class = "a">
  <p><b>Because of my problem...</b></p>
</div>

<form id="postquiz" action="done" method="post">


	<table id="test" align="center" width="850px" cellspacing="0" cellpadding="3" style="border: 0.2px;">
	<tr>
	<th />
	<th width="80px" align="left" valign="bottom">Not at all</th>
    <th width="50px" align="center" valign="bottom"> </th>
	<th width="50px" align="center" valign="bottom">Slightly</th>
    <th width="50px" align="center" valign="bottom"> </th>
	<th width="50px" align="center" valign="bottom">Definitely</th>
    <th width="50px" align="center" valign="bottom"> </th>
	<th width="50px" align="center" valign="bottom">Markedly</th>
    <th width="50px" align="center" valign="bottom"> </th>
  <th width="50px" align="center" valign="bottom">Severely</th>
	</tr>
	<!-- <tr>
	<td height="6px" />
	</tr> -->
	<tr class="question" style="background-color:#e0eeff;">
    <td class="questiontext" text-align="left">
        ...my <b>ability to work</b> is impaired
    </td>
  <td align="center"><input type="radio" name="WSAS_1" value="0" id="WSAS_1" style="border: none;" onchange='Check()'/></td>
	<td align="center"><input type="radio" name="WSAS_1" value="1" id="WSAS_1" style="border: none;" onchange='Check()'/></td>
	<td align="center"><input type="radio" name="WSAS_1" value="2" id="WSAS_1" style="border: none;" onchange='Check()'/></td>
	<td align="center"><input type="radio" name="WSAS_1" value="3" id="WSAS_1" style="border: none;" onchange='Check()'/></td>
	<td align="center"><input type="radio" name="WSAS_1" value="4" id="WSAS_1" style="border: none;" onchange='Check()'/></td>
  <td align="center"><input type="radio" name="WSAS_1" value="5" id="WSAS_1" style="border: none;" onchange='Check()'/></td>
	<td align="center"><input type="radio" name="WSAS_1" value="6" id="WSAS_1" style="border: none;" onchange='Check()'/></td>
	<td align="center"><input type="radio" name="WSAS_1" value="7" id="WSAS_1" style="border: none;" onchange='Check()'/></td>
	<td align="center"><input type="radio" name="WSAS_1" value="8" id="WSAS_1" style="border: none;" onchange='Check()'/></td>
	</tr>
	<tr>
	<td height="6px" />
	</tr>
	<tr class="question" style="background-color:#e0eeff;">
    <td class="questiontext" text-align="left">
        <p>...my <b>home management</b> <i>(cleaning, shopping, cooking, looking after children, paying bills)</i> is impaired. <p>
    </td>
  <td align="center"><input type="radio" name="WSAS_2" value="0" id="WSAS_2" style="border: none;" onchange='Check()'/></td>
	<td align="center"><input type="radio" name="WSAS_2" value="1" id="WSAS_2" style="border: none;" onchange='Check()'/></td>
	<td align="center"><input type="radio" name="WSAS_2" value="2" id="WSAS_2" style="border: none;" onchange='Check()'/></td>
	<td align="center"><input type="radio" name="WSAS_2" value="3" id="WSAS_2" style="border: none;" onchange='Check()'/></td>
	<td align="center"><input type="radio" name="WSAS_2" value="4" id="WSAS_2" style="border: none;" onchange='Check()'/></td>
  <td align="center"><input type="radio" name="WSAS_2" value="5" id="WSAS_2" style="border: none;" onchange='Check()'/></td>
	<td align="center"><input type="radio" name="WSAS_2" value="6" id="WSAS_2" style="border: none;" onchange='Check()'/></td>
	<td align="center"><input type="radio" name="WSAS_2" value="7" id="WSAS_2" style="border: none;" onchange='Check()'/></td>
	<td align="center"><input type="radio" name="WSAS_2" value="8" id="WSAS_2" style="border: none;" onchange='Check()'/></td>
	</tr>
	<tr>
	<td height="6px" />
	</tr>
	<tr class="question" style="background-color:#e0eeff;">
    <td class="questiontext" text-align="left">
      <p>...my <b>social leisure activities</b> <i>(with other people e.g. parties, bars, clubs, visits, dating)</i> are impaired. <p>
    </td>
  <td align="center"><input type="radio" name="WSAS_3" value="0" id="WSAS_3" style="border: none;" onchange='Check()'/></td>
	<td align="center"><input type="radio" name="WSAS_3" value="1" id="WSAS_3" style="border: none;" onchange='Check()'/></td>
	<td align="center"><input type="radio" name="WSAS_3" value="2" id="WSAS_3" style="border: none;" onchange='Check()'/></td>
	<td align="center"><input type="radio" name="WSAS_3" value="3" id="WSAS_3" style="border: none;" onchange='Check()'/></td>
	<td align="center"><input type="radio" name="WSAS_3" value="4" id="WSAS_3" style="border: none;" onchange='Check()'/></td>
  <td align="center"><input type="radio" name="WSAS_3" value="5" id="WSAS_3" style="border: none;" onchange='Check()'/></td>
	<td align="center"><input type="radio" name="WSAS_3" value="6" id="WSAS_3" style="border: none;" onchange='Check()'/></td>
	<td align="center"><input type="radio" name="WSAS_3" value="7" id="WSAS_3" style="border: none;" onchange='Check()'/></td>
	<td align="center"><input type="radio" name="WSAS_3" value="8" id="WSAS_3" style="border: none;" onchange='Check()'/></td>
	</tr>
	<tr>
	<td height="6px" />
	</tr>
	<tr class="question" style="background-color:#e0eeff;">
    <td class="questiontext" text-align="left">
      <p>...my <b>private leisure activities</b> <i>(done alone e.g. reading, gardening, sewing, walking alone)</i> are impaired. <p>
    </td>
  <td align="center"><input type="radio" name="WSAS_4" value="0" id="WSAS_4" style="border: none;" onchange='Check()'/></td>
	<td align="center"><input type="radio" name="WSAS_4" value="1" id="WSAS_4" style="border: none;" onchange='Check()'/></td>
	<td align="center"><input type="radio" name="WSAS_4" value="2" id="WSAS_4" style="border: none;" onchange='Check()'/></td>
	<td align="center"><input type="radio" name="WSAS_4" value="3" id="WSAS_4" style="border: none;" onchange='Check()'/></td>
	<td align="center"><input type="radio" name="WSAS_4" value="4" id="WSAS_4" style="border: none;" onchange='Check()'/></td>
  <td align="center"><input type="radio" name="WSAS_4" value="5" id="WSAS_4" style="border: none;" onchange='Check()'/></td>
	<td align="center"><input type="radio" name="WSAS_4" value="6" id="WSAS_4" style="border: none;" onchange='Check()'/></td>
	<td align="center"><input type="radio" name="WSAS_4" value="7" id="WSAS_4" style="border: none;" onchange='Check()'/></td>
	<td align="center"><input type="radio" name="WSAS_4" value="8" id="WSAS_4" style="border: none;" onchange='Check()'/></td>
	</tr>
  <tr>
	<td height="6px" />
	</tr>
	<tr class="question" style="background-color:#e0eeff;">
    <td class="questiontext" text-align="left">
      <p>...If you are <b>paying attention</b> to these questions, please select "Not at all" as your answer<p>
    </td>
  <td align="center"><input type="radio" name="WSAS_5" value="0" id="WSAS_5" style="border: none;" onchange='Check()' /></td>
  <td align="center"><input type="radio" name="WSAS_5" value="1" id="WSAS_5" style="border: none;" onchange='Check()'/></td>
  <td align="center"><input type="radio" name="WSAS_5" value="2" id="WSAS_5" style="border: none;" onchange='Check()'/></td>
  <td align="center"><input type="radio" name="WSAS_5" value="3" id="WSAS_5" style="border: none;" onchange='Check()'/></td>
  <td align="center"><input type="radio" name="WSAS_5" value="4" id="WSAS_5" style="border: none;" onchange='Check()'/></td>
  <td align="center"><input type="radio" name="WSAS_5" value="5" id="WSAS_5" style="border: none;" onchange='Check()'/></td>
  <td align="center"><input type="radio" name="WSAS_5" value="6" id="WSAS_5" style="border: none;" onchange='Check()'/></td>
  <td align="center"><input type="radio" name="WSAS_5" value="7" id="WSAS_5" style="border: none;" onchange='Check()'/></td>
  <td align="center"><input type="radio" name="WSAS_5" value="8" id="WSAS_5" style="border: none;" onchange='Check()'/></td>
	</tr>
  <tr>
  <td height="6px" />
  </tr>
  <tr class="question" style="background-color:#e0eeff;">
    <td class="questiontext" text-align="left">
      <p>...my ability to form and maintain <b>close relationships</b> with others, including those I live with, is impaired <p>
    </td>
  <td align="center"><input type="radio" name="WSAS_6" value="0" id="WSAS_6" style="border: none;" onchange='Check()' /></td>
  <td align="center"><input type="radio" name="WSAS_6" value="1" id="WSAS_6" style="border: none;" onchange='Check()'/></td>
  <td align="center"><input type="radio" name="WSAS_6" value="2" id="WSAS_6" style="border: none;" onchange='Check()'/></td>
  <td align="center"><input type="radio" name="WSAS_6" value="3" id="WSAS_6" style="border: none;" onchange='Check()'/></td>
  <td align="center"><input type="radio" name="WSAS_6" value="4" id="WSAS_6" style="border: none;" onchange='Check()'/></td>
  <td align="center"><input type="radio" name="WSAS_6" value="5" id="WSAS_6" style="border: none;" onchange='Check()'/></td>
  <td align="center"><input type="radio" name="WSAS_6" value="6" id="WSAS_6" style="border: none;" onchange='Check()'/></td>
  <td align="center"><input type="radio" name="WSAS_6" value="7" id="WSAS_6" style="border: none;" onchange='Check()'/></td>
  <td align="center"><input type="radio" name="WSAS_6" value="8" id="WSAS_6" style="border: none;" onchange='Check()'/></td>
  </tr>

  </table>
                 <input type="button" class="continue" id="continue" value="Finish" style="visibility: hidden;"></input>
                 <p><b>The CONTINUE button will appear here once you have answered all of the questions. Please double check your answers if you think you are finished but do not see the continue button. </b></p>

</form>
</div>



<script>

    var Check = function(){
        // this max number should be 1 greater than number of items on scale


        for (var i = 1; i < 7; i++) {

            WSAS = document.getElementsByName("WSAS_" + i)

            if(WSAS[0].checked || WSAS[1].checked || WSAS[2].checked ||WSAS[3].checked ||WSAS[4].checked || WSAS[5].checked || WSAS[6].checked ||WSAS[7].checked ||WSAS[8].checked){
                $('input#continue').css('visibility','visible')
            }
            else{
                $('input#continue').css('visibility','hidden')
                return false
            }


        }


    }

</script>
