
<div class="instruct" id="main">
<br>&nbsp;</br>
<h2><b>Thank you for providing that information</b></h2>

  <p>We now need you to complete three questionnaires pertaining to symptoms of mental health and functioning in everyday life. These questionnaires will take approximately 10 minutes to complete.</p>
  <p>We ask that you answer all of these questions as openly and honestly as possible.</p>
  <p>Please be aware that your answers are kept strictly confidential and will not be directly linked to your identity.</p>
<br>&nbsp;</br>
  <p> <strong> Please read every single question before you answer. </strong> </p>

    <p>If you are ready to begin, press the <strong>continue</strong> button.</p>

    <input type="button" class="continue" id="continue" value="Continue" style="visibility: visible;"></input>

</div>
