<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale = 1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="./css/style.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <title>Precision in Psychiatry Study</title>
</head>

<body>

  <!-- Fullscreen background image -->
  <div id="" class="wrapper scrollspy">
    <!-- <div class="tranparent-cover"></div> -->
    <div class="row no-margin">
      <div class="col s12 m12   l12  center">
        <h1>Precision in Psychiatry Study</h1></div>
    </div>
    <div class="minus-spacer"></div>
    <div class="row">
      <div class="col s12 m12 l12 center">
        <h2>Consent Form</h1></div>
    </div>



    <div class="row">
      <div class="col s12 m8 offset-m2 l8 offset-l2">
        <p>
          In agreeing to take part in this study, you are confirming that you have read the information sheet and have had time to consider whether to take part in this study. Your participation is voluntary and you are free to withdraw from the study at any time without penalty.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col s12 m8 offset-m2 l8 offset-l2">
        <p>
          I confirm that I have read the information sheet and understand that:    </p>
      </div>
    </div>


    <div class="row">
      <div class="col s12 m8 offset-m2 l8 offset-l2">
      <div id="consent-form">
        <div class="spacer1"></div>
        <div class="row">
          <div class="col s10 offset-s1  m10 offset-m1 l10 offset-l1">
            <br>
            <p class="collapsible-content">
              1. I am providing consent for researchers to collect, analyse and store (a) a photograph of my prescription for an antidepressant medication, (b) my responses to sensitive questions relating to mental and medical health, (c) other personal or demographic information, and if I am selected to participate in the study, and (d) performance at computerised cognitive tests.
            </p>

          </div>
        </div>

        <div class="row">
          <div class="col s10 offset-s1  m10 offset-m1 l10 offset-l1">

            <p class="collapsible-content">
            2.	I give my consent to be contacted via email on a weekly-basis for 8 weeks, or until such time that I decide to no longer participate in the study. Additional reminders emails may be sent if responses are not received in 24 hours.</p>
          </div>
        </div>

        <div class="row">
          <div class="col s10 offset-s1  m10 offset-m1 l10 offset-l1">

            <p class="collapsible-content">3.	This study is observational. I am not being asked to take a medication or to stop taking a medication for the purpose of participation in this study. I am free to make changes to my treatment at any time and this does not affect my continued participation in the study.
              </p>
          </div>
        </div>

        <div class="row">
          <div class="col s10 offset-s1  m10 offset-m1 l10 offset-l1">

            <p class="collapsible-content">4.	I understand that the researchers conducting this study are not responsible for monitoring my treatment or changes in my mental health status, e.g. worsening of symptoms. The prescribing clinician should be contacted with all questions pertaining to my continued care, including any adverse effects associated with taking antidepressant medication and decisions regarding continuation or cessation of treatment.  </p>
          </div>
        </div>

        <div class="row">
          <div class="col s10 offset-s1 m10 offset-m1 l10 offset-l1">

            <p class="collapsible-content">5.	I am free to withdraw from the study at any time, and all relevant data will be removed and deleted. I am also free to withdraw my data at the conclusion of my participation if I so wish, up until the point that my data has been analysed and a report based on the data has been submitted.    </p>
          </div>
        </div>

        <div class="row">
          <div class="col s10 offset-s1  m10 offset-m1 l10 offset-l1">

            <p class="collapsible-content">6.	My answers to sensitive questions will be kept confidential and be stored anonymously. However, I understand that there are legal limits that apply to confidentiality in the Republic of Ireland:
             </p>
          </div>
        </div>

        <div class="row">
          <div class="col s10 offset-s1  m8 offset-m2 l8 offset-l2">

            <p class="collapsible-content">i.	If I provide unsolicited information to the research team pertaining to risk of harm to myself or another person, this additional information is not protected by confidentiality and may be disclosed to the relevant authorities.   </p>
          </div>
        </div>

        <div class="row">
          <div class="col s10 offset-s1  m8 offset-m2 l8 offset-l2">

            <p class="collapsible-content">ii.	Any information that I provide (solicited or unsolicited) may be disclosed as part of a legal process or police investigation in the Republic of Ireland, without my permission being sought.</p>  </div>
        </div>

        <div class="row">
          <div class="col s10 offset-s1  m10 offset-m1 l10 offset-l1">

            <p class="collapsible-content">7.	Under the Freedom of Information Act 2014, I have access to any information stored about me in relation to the current study for up to 10 years (in accordance with TCD's data policy) after I provided it. </p>
          </div>
        </div>

        <div class="row">
          <div class="col s10 offset-s1  m10 offset-m1 l10 offset-l1">

            <p class="collapsible-content">8. My anonymised data will be grouped with other participants and these group results will be presented in scientific journals and conferences.  </div>
        </div>

        <div class="row">
          <div class="col s10 offset-s1  m10 offset-m1 l10 offset-l1">

            <p>I give my consent to allow my anonymised data (i.e. with my name, date of birth and contact information removed) to be made publicly available on public data repositories (e.g. Open Science Framework) so that other researchers can test novel hypotheses and conduct exploratory analyses.</p>  </div>

      </div>

      <div class="row">
        <div class="col s10 offset-s1  m10 offset-m1 l10 offset-l1">

          <p>10.	I give my consent for my email address to be stored for 10 years and for the researchers to contact me for follow-up studies relating to this project. I understand that I can revoke this permission at any time and have my email address removed from the list.</p>
    </div>
      </div>
    </div>


    <div class="row center-align">
      <div class="col s12 m8 offset-m2 l8 offset-l2">
        <br>
        <p>
          Do you understand and consent to the terms of the study explained above? </p>
      </div>
    </div>

    <div class="row center align">
      <div class="col s12 m8 offset-m2 l8 offset-l2">
        <p>
          If you agree to give your informed consent, please click the ‘I give my consent’ button below.
If you have any questions about the study, please click the ‘I do not give my consent’ button below. </p>
      </div>
    </div>

    <br/>

    <div class="buttons-horizontal">
      <div  class="row center-align">

        <div class="col s12 m2 l2 offset-l2"><a href="PIPS_StartQuiz.html" class="waves-effect waves-light btn-large blue">I give my consent</a></div><div class="spacer2"></div>

        <div class="col s12 m2 offset-m2 l2 offset-l2"><a class="waves-effect waves-light btn-large blue">I do not give my consent</a></div>

      </div>
    </div>


    <div class="buttons-vertical">

        <div class="row center-align">
          <div class="col s10 offset-s1"><a href="PIPS_StartQuiz.html" class="waves-effect waves-light btn-large blue">I give my consent</a></div><div class="spacer2"></div>
        </div>

        <div class="row center-align">
          <div class="col s10 offset-s1"><a class="waves-effect waves-light btn-large blue">I do not give my consent</a></div>
        </div>


      <div class="spacer2"></div>
        <div class="spacer2"></div>





</div>



  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
<script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>


  <script type="text/javascript">

      document.addEventListener('DOMContentLoaded', function()
      {
          var options = {};

          var elems = document.querySelectorAll('.collapsible.popout');
          var instances = M.Collapsible.init(elems, options);
    });

  </script>
</body>

</html>
