<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale = 1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link rel="stylesheet" href="./css/style.css">
  <title>Daily Experiences Questionaire</title>
</head>

<body>



  <!-- Fullscreen background image -->
  <div id="" class="wrapper scrollspy">
    <!-- <div class="tranparent-cover"></div> -->
    <div class="row no-margin center-align">
      <div class="col s12 m12 l12 center">
        <h1>Precision in Psychiatry Study</h1></div>
    </div>


    <div class="row">

      <div class="col s10 offset-s1 m10 offset-m1 l10 offset-l1 center-align">
        <h5>People's problems sometimes affect their ability to do certain day-to-day tasks in their lives.</h5>

        <h5>To rate your problems, look at each statement and determine on the scale provided how much your problem impairs your ability to carry out the activity.</h5>
      </div>



      <div class="col s10 offset-s1 m8 offset-m2 l8 offset-l2">
          <div class="spacer-5"></div>
        <div class="carousel carousel-slider center z-depth-3">

    <!-- Because of my problem my ability to work is impaired -->
        <div class="carousel-item white blue-text" href="#one!">

            <br><br>
          <div class="row left-align">

            <div class="col s12 m12  l12 center-align"><h6>Because of my problem my ability to work is impaired. </h6></div>
          </div>
          <div class="spacer-2"></div>
          <div class="row left-align">
            <div class="col s12 m10 offset-m2 l10 offset-l2 ">
              <label>
            <input name="group1" class="with-gap" type="radio"  />
            <span>Not at all</span>
          </label>
            </div>
          </div>

          <div class="row left-align">
            <div class="col s12 m10 offset-m2 l10 offset-l2 ">
              <label>
            <input name="group1" class="with-gap" type="radio"  />
            <span>Slightly</span>
          </label>
            </div>
          </div>

          <div class="row left-align">
            <div class="col s12 m2 offset-m2 l2 offset-l2 ">
              <label>
            <input name="group1" class="with-gap" type="radio"  />
            <span>Definitely</span>
          </label>
            </div>
          </div>

          <div class="row left-align">
            <div class="col s12 m10 offset-m2 l10 offset-l2 ">
              <label>
            <input name="group1" class="with-gap" type="radio"  />
            <span>Markedly</span>
          </label>
            </div>
          </div>

          <div class="row left-align">
            <div class="col s12 m10 offset-m2 l10 offset-l2 ">
              <label>
            <input name="group1" class="with-gap" type="radio"  />
            <span>Severely</span>
          </label>
            </div>
          </div>
        </div>
      <!-- Ends -->

      <!-- Because of my problem my home management (cleaning, shopping, cooking, looking after children, paying bills) is impaired. -->
          <div class="carousel-item white blue-text" href="#one!">

              <br><br>
            <div class="row left-align">

              <div class="col s12 m12  l12 center-align"><h6>Because of my problem...</h6><h6>...my home management (cleaning, shopping, cooking, looking after children, paying bills) is impaired. </h6></div>
            </div>
            <div class="spacer-2"></div>
            <div class="row left-align">
              <div class="col s12 m10 offset-m2 l10 offset-l2 ">
                <label>
              <input name="group1" class="with-gap" type="radio"  />
              <span>Not at all</span>
            </label>
              </div>
            </div>

            <div class="row left-align">
              <div class="col s12 m10 offset-m2 l10 offset-l2 ">
                <label>
              <input name="group1" class="with-gap" type="radio"  />
              <span>Slightly</span>
            </label>
              </div>
            </div>

            <div class="row left-align">
              <div class="col s12 m2 offset-m2 l2 offset-l2 ">
                <label>
              <input name="group1" class="with-gap" type="radio"  />
              <span>Definitely</span>
            </label>
              </div>
            </div>

            <div class="row left-align">
              <div class="col s12 m10 offset-m2 l10 offset-l2 ">
                <label>
              <input name="group1" class="with-gap" type="radio"  />
              <span>Markedly</span>
            </label>
              </div>
            </div>

            <div class="row left-align">
              <div class="col s12 m10 offset-m2 l10 offset-l2 ">
                <label>
              <input name="group1" class="with-gap" type="radio"  />
              <span>Severely</span>
            </label>
              </div>
            </div>
          </div>
        <!-- Ends -->


        <!-- Because of my problem my social leisure activities (with other people e.g. parties, bars, clubs, visits, dating) are impaired.-->
            <div class="carousel-item white blue-text" href="#one!">

                <br><br>
              <div class="row left-align">

                <div class="col s12 m12  l12 center-align"><h6>Because of my problem...</h6><h6>...my social leisure activities (with other people e.g. parties, bars, clubs, visits, dating) are impaired.</h6></div>
              </div>
              <div class="spacer-2"></div>
              <div class="row left-align">
                <div class="col s12 m10 offset-m2 l10 offset-l2 ">
                  <label>
                <input name="group1" class="with-gap" type="radio"  />
                <span>Not at all</span>
              </label>
                </div>
              </div>

              <div class="row left-align">
                <div class="col s12 m10 offset-m2 l10 offset-l2 ">
                  <label>
                <input name="group1" class="with-gap" type="radio"  />
                <span>Slightly</span>
              </label>
                </div>
              </div>

              <div class="row left-align">
                <div class="col s12 m2 offset-m2 l2 offset-l2 ">
                  <label>
                <input name="group1" class="with-gap" type="radio"  />
                <span>Definitely</span>
              </label>
                </div>
              </div>

              <div class="row left-align">
                <div class="col s12 m10 offset-m2 l10 offset-l2 ">
                  <label>
                <input name="group1" class="with-gap" type="radio"  />
                <span>Markedly</span>
              </label>
                </div>
              </div>

              <div class="row left-align">
                <div class="col s12 m10 offset-m2 l10 offset-l2 ">
                  <label>
                <input name="group1" class="with-gap" type="radio"  />
                <span>Severely</span>
              </label>
                </div>
              </div>
            </div>
          <!-- Ends -->



                  <!-- Because of my problem my private leisure activities (done alone e.g. reading, gardening, sewing, walking alone) are impaired.-->
                      <div class="carousel-item white blue-text" href="#one!">

                          <br><br>
                        <div class="row left-align">

                          <div class="col s12 m12  l12 center-align"><h6>Because of my problem...</h6><h6>...my private leisure activities (done alone e.g. reading, gardening, sewing, walking alone) are impaired.</h6></div>
                        </div>
                        <div class="spacer-2"></div>
                        <div class="row left-align">
                          <div class="col s12 m10 offset-m2 l10 offset-l2 ">
                            <label>
                          <input name="group1" class="with-gap" type="radio"  />
                          <span>Not at all</span>
                        </label>
                          </div>
                        </div>

                        <div class="row left-align">
                          <div class="col s12 m10 offset-m2 l10 offset-l2 ">
                            <label>
                          <input name="group1" class="with-gap" type="radio"  />
                          <span>Slightly</span>
                        </label>
                          </div>
                        </div>

                        <div class="row left-align">
                          <div class="col s12 m2 offset-m2 l2 offset-l2 ">
                            <label>
                          <input name="group1" class="with-gap" type="radio"  />
                          <span>Definitely</span>
                        </label>
                          </div>
                        </div>

                        <div class="row left-align">
                          <div class="col s12 m10 offset-m2 l10 offset-l2 ">
                            <label>
                          <input name="group1" class="with-gap" type="radio"  />
                          <span>Markedly</span>
                        </label>
                          </div>
                        </div>

                        <div class="row left-align">
                          <div class="col s12 m10 offset-m2 l10 offset-l2 ">
                            <label>
                          <input name="group1" class="with-gap" type="radio"  />
                          <span>Severely</span>
                        </label>
                          </div>
                        </div>
                      </div>
                    <!-- Ends -->


                    <!-- If you are paying attention to these questions, please select "Not at all" as your answer -->
                        <div class="carousel-item white blue-text" href="#one!">

                            <br><br>
                          <div class="row left-align">

                            <div class="col s12 m12  l12 center-align"><h6>If you are paying attention to these questions, please select "Not at all" as your answer.</h6></div>
                          </div>
                          <div class="spacer-2"></div>
                          <div class="row left-align">
                            <div class="col s12 m10 offset-m2 l10 offset-l2 ">
                              <label>
                            <input name="group1" class="with-gap" type="radio"  />
                            <span>Not at all</span>
                          </label>
                            </div>
                          </div>

                          <div class="row left-align">
                            <div class="col s12 m10 offset-m2 l10 offset-l2 ">
                              <label>
                            <input name="group1" class="with-gap" type="radio"  />
                            <span>Slightly</span>
                          </label>
                            </div>
                          </div>

                          <div class="row left-align">
                            <div class="col s12 m2 offset-m2 l2 offset-l2 ">
                              <label>
                            <input name="group1" class="with-gap" type="radio"  />
                            <span>Definitely</span>
                          </label>
                            </div>
                          </div>

                          <div class="row left-align">
                            <div class="col s12 m10 offset-m2 l10 offset-l2 ">
                              <label>
                            <input name="group1" class="with-gap" type="radio"  />
                            <span>Markedly</span>
                          </label>
                            </div>
                          </div>

                          <div class="row left-align">
                            <div class="col s12 m10 offset-m2 l10 offset-l2 ">
                              <label>
                            <input name="group1" class="with-gap" type="radio"  />
                            <span>Severely</span>
                          </label>
                            </div>
                          </div>
                        </div>
                      <!-- Ends -->


                      <!-- If you are paying attention to these questions, please select "Not at all" as your answer -->
                          <div class="carousel-item white blue-text" href="#one!">

                              <br><br>
                            <div class="row left-align">

                              <div class="col s12 m12  l12 center-align"><h6>Becasue of my problem...</h6><h6>...my ability to form and maintain close relationships with others, including those I live with, is impaired.</h6></div>
                            </div>
                            <div class="spacer-2"></div>
                            <div class="row left-align">
                              <div class="col s12 m10 offset-m2 l10 offset-l2 ">
                                <label>
                              <input name="group1" class="with-gap" type="radio"  />
                              <span>Not at all</span>
                            </label>
                              </div>
                            </div>

                            <div class="row left-align">
                              <div class="col s12 m10 offset-m2 l10 offset-l2 ">
                                <label>
                              <input name="group1" class="with-gap" type="radio"  />
                              <span>Slightly</span>
                            </label>
                              </div>
                            </div>

                            <div class="row left-align">
                              <div class="col s12 m2 offset-m2 l2 offset-l2 ">
                                <label>
                              <input name="group1" class="with-gap" type="radio"  />
                              <span>Definitely</span>
                            </label>
                              </div>
                            </div>

                            <div class="row left-align">
                              <div class="col s12 m10 offset-m2 l10 offset-l2 ">
                                <label>
                              <input name="group1" class="with-gap" type="radio"  />
                              <span>Markedly</span>
                            </label>
                              </div>
                            </div>

                            <div class="row left-align">
                              <div class="col s12 m10 offset-m2 l10 offset-l2 ">
                                <label>
                              <input name="group1" class="with-gap" type="radio"  />
                              <span>Severely</span>
                            </label>
                              </div>
                            </div>
                          </div>
                        <!-- Ends -->




       </div>


      </div>
    </div>


      <div class="spacer-5"></div>
      <div class="row">
        <div class="col s110 m10 l10 offset-s1 offset-m1 offset-l1 center-align">
          <h5>The CONTINUE button will become active once you have answered all of the questions. Please double check your answers if you think you are finished but the continue button is still disabled.</span>
        </div>
      </div>

        <div class="spacer-2"></div>

        <div class="row center-align">
          <div class="col s12 m12 l12">
            <a href="screening-questionaire.html" id="cButton" class="waves-effect waves-light btn-large blue">Continue</a>

          </div>
        </div>

        <div class="spacer-5"></div>

    </div>

  </div>






  </div>

</div>
</div>

<script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>


<script type="text/javascript">


// var instance = M.Carousel.init({
//    fullWidth: true,
//    indicators: true
//  });

//  $('.carousel.carousel-slider').carousel({
//   fullWidth: true,
//   indicators: true
// });

// $('.carousel-slider').slider({full_width: true});//slider init

$(document).ready(function(){
     $('.carousel').carousel(
       {
         fullWidth: true,
    indicators: true
       }
     );

   });

</script>

</body>
</html>
