<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale = 1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="./css/style.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <title>Precision in Psychiatry Study</title>
</head>

<body>


  <!-- Fullscreen background image -->
  <div id="" class="wrapper scrollspy">
      <!-- <div class="tranparent-cover"></div> -->
      <div class="row">
        <div class="col s12 m12 l12 center"><h1>Precision in Psychiatry Study</h1></div>
      </div>

      <div id="main-container" class="container">


    <div class="row">
          <div class="col s12 m3 l3 center"></div>
          <!-- Speech Bubble -->
          <div class="col s12 m6 l6 center">
            <div id="speech-bubble" class="speech">
              <div class="speech-content">
                <p id="speech-bubble-text"><b>Thank you</b> for expressing interest in our study! We are scientists at Trinity College Dublin who work on trying to figure out how to improve treatments in mental health.</p>
              </div>
              <div id="arrow" class="arrow-down"></div>
            </div>
          </div>
        </div>
    </div>

    <div class="row center">
      <div class="col s12 m3 l3 center">

      </div>
      <div class="col s12 m2 l2 center">
        <img id="doc" src="./img/doc-1.png" alt="">
      </div>
      <div class="col s12 m2 l2 center">
      </div>
      <div class="col s12 m6 l6">
        <h3>Participation can be completed from your home!</h3>
        <span class="content-text">It solely requires answering questions about:</span>
        <ul class="content-text">
          <li>1. Your mental health treatment;</li>
          <li>2. Your symptoms;</li>
          <li>3. Aspects of your life at present;</li>
          <li>4. Aspects of your life in the past;</li>
        </ul>
        <span class="content-text">... and playing some games for us.</span>
        <div class="spacer-5"></div>
        <a href="info.html" id="cButton" class="center waves-effect waves-light btn-large blue">Continue</a>
      </div>


    </div>





  </div>

<script type="text/javascript">

  var textBubbleText = [
  "<b>Thank you</b> for expressing interest in our study! We are scientists at Trinity College Dublin who work on trying to figure out how to improve treatments in mental health.",
  "We are really grateful you clicked and are interested in helping with mental health research!",
  "Click 'continue' to read the information about the study and what your participation would entail."
  ];
  var count = 1;

  var speechBubble = document.querySelector( '#speech-bubble' );
  var speechBubbleText = document.querySelector( '#speech-bubble-text' );
  var arrow = document.querySelector( '#arrow' );
  var button = document.querySelector( '#cButton' );

  button.style.display = "none";

  button.addEventListener( 'click', function() {
    console.log( 'Clicked.....' );
  });

  speechBubble.addEventListener( 'click' ,
  function(){

    if( count < textBubbleText.length  )
    {
      console.log( textBubbleText[ count ] );
      speechBubbleText.innerHTML = textBubbleText[count];
    }

    if( count == 2 )
    {
      arrow.style.display = "none";
      button.style.display = "block";
    }

    count++;
});
</script>
</body>

</html>
